/* 背景 */
body {
  font-family: Arial, sans-serif;
  background-color: #e9ecf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* headerエリア */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  margin-left: 15px;
  width: 280px;
  height: 30px;
}

.header-version {
  font-size: 16px;
  color: #333;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px; /* アイコン間の間隔を調整 */
}

.header-icon {
  width: 30px;
  height: 30px;
}

.x-icon {
  /* xアイコンの左端予約を作るために定義 */
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

/* 背景文字のStyle */
.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 80px;
  color: rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  pointer-events: none;
  z-index: 0;
  animation: float 20s infinite;
}

/* footerエリア */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ae76a6;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* aタグのスタイル */
a {
  color: #5d7dc0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(-100%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(100%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(-100%);
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .input-group {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
  }

  .button-group button {
    margin: 5px 0;
  }
}
