/* 背景 */
body {
  background-color: #e9ecf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* ヘッダーエリア */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  box-shadow: 0 0 10px #ae76a6;
}

/* メインタイトルのスタイル */
.main-title {
  font-family: 'Hachi Maru Pop', cursive;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 25px;
  flex-wrap: nowrap;
}

/* ヘッダーバージョン情報 */
.header-version {
  font-family: 'Hachi Maru Pop', cursive;
  margin-right: auto;
  font-size: 18px;
  color: #ae76a6;
  flex-wrap: nowrap;
  text-align: center;
}

/* ヘッダーのリンク */
.header-links {
  display: flex;
  gap: 15px;
  margin-right: 30px;
}

/* ヘッダーアイコン */
.header-icons {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

/* アイコンとリンクのスタイル */
.header-icon,
.x-icon {
  width: 30px;
  height: 30px;
  display: flex;
  gap: 15px;
}

.x-icon {
  /* xアイコンの左端予約を作るために定義 */
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

/* ハンバーガーメニューアイコン */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ae76a6;
}

/* モバイルメニューモーダル */
.header-links-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  border: 1px solid #333;
  box-shadow: 0 0 10px #ae76a6;
  z-index: 10;
  font-family: 'Hachi Maru Pop', cursive;
}
/* 'Xにポストする'リンクのスタイル */
.header-links-mobile a#XLinkMobile {
  border-bottom: none; /* ボーダーラインを適用しない */
  text-decoration: none;
  color: #5d7dc0;
}
/* モバイルメニューの閉じるボタン */
.modal-close {
  padding: 10px;
  text-align: left;
  color: #5d7dc0;
  text-decoration: none;
  font-family: 'Hachi Maru Pop', cursive;
}

.header-links-mobile a {
  padding: 10px;
  text-align: left;
  color: #5d7dc0;
  text-decoration: none;
}

/* モバイル用のheaderレスポンシブスタイル */
@media (max-width: 600px) {
  .header-links,
  .header-icons {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header-logo {
    width: 150px;
  }

  .header-version {
    font-size: 14px;
  }
}

/* 背景文字のStyle */
.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 80px;
  color: rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  pointer-events: none;
  z-index: 0;
  animation: float 20s infinite;
}

/* footerエリア */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ae76a6;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: 'Hachi Maru Pop', cursive;
}

/* aタグのスタイル */
a {
  color: #5d7dc0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* activeクラスにアンダーラインを引く */
a.active {
  display: inline-block; /* ボーダーを文字列の幅に合わせる */
  border-bottom: 2px solid #ae76a6; /* アンダーライン */
  padding-bottom: 3px; /* テキストとアンダーラインの間に余白 */
  font-weight: bold; /* 必要であれば文字を強調 */
  color: #ae76a6;
}
