body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 280px;
  height: 30px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
  margin-top: 100px; /* ヘッダーとの重なりを防ぐ */
}

.input-group {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#resetButton:hover:enabled {
  background-color: #cc0000;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#outputText {
  white-space: pre-wrap;
  word-wrap: break-word;
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group button {
  flex-grow: 1;
  margin: 0 5px;
  box-sizing: border-box;
}

#copyMessage,
#resetMessage,
#restoreMessage,
#decodeMessage {
  margin-top: 10px;
  display: none;
}

#copyMessage {
  color: green;
}

#resetMessage {
  color: red;
}

#restoreMessage {
  color: blue;
}

#decodeMessage {
  color: purple;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 80px;
  color: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  pointer-events: none;
  z-index: 0;
  animation: float 20s infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(-100%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(100%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) translateY(-100%);
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .input-group {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .button-group {
    flex-direction: column;
  }

  .button-group button {
    margin: 5px 0;
  }
}

/* モーダルスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#okButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

#okButton:hover {
  background-color: #0056b3;
}
